
body {
  margin: 0;
  background-color: #23252C;
  font-family: Inter, sans-serif;
}

main{
  margin: auto;
  padding: 40px 0px 40px 0px;
  max-width: 317px;
  border-radius: 0px 0px 10px 10px;
  
}
.Card{
  background-color: #1A1B21;
  border-radius: 0px 0px 10px 10px;
}
.Footer{
  background-color: #161619;
  border-radius: 0px 0px 10px 10px;
}
.about--Card > img{
  border-radius: 10px 10px 0px 0px;
  max-width: 317px;
}
.user--Name{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: white;
  margin-bottom: -6px;
}
.title--Name{
  font-size: 12.8px;
  font-weight: 400;
  text-align: center;
  color: #F3BF99;
  margin-bottom: 8.19px;
}
.website--Name{
  font-size: 10.24px;
  font-weight: 400;
  text-align: center;
  color: #F5F5F5;
}
.card--Links{
  display: flex;
  margin: 15px 30px 30px 30px;

}
.email--Card{
  display: flex;
  align-items: center;
  margin: auto;
  margin-right: 30px;
  padding: 0px 28px 0px 28px;
  background-color: white;
  border-radius: 6px;
}
.email--Card > h2{
  font-size: 14px;
  font-weight: 400;
  margin-left: 8px;
}
.linkedIn--Card{
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0px 18px 0px 16px;
  background-color: #5093E2;
  border-radius: 6px;
}
.linkedIn--Card > h2{
  font-size: 14px;
  color: white;
  font-weight: 400;
  margin-left: 8px;
}

.about--Text{
  margin: 30px 30px 30px 30px;
  color: white;
}
.about--Text > p{
  font-size: 10.12px;
  font-weight: 400;
  color: #DCDCDC;
}
.about--Text > h1{
  font-size: 16px;
  font-weight: 600;
}
.interests--Text{
  margin: 30px 30px 30px 30px;
  color: white;
}
.interests--Text > p{
  font-size: 10.12px;
  font-weight: 400;
  color: #DCDCDC;
}
.interests--Text > h1{
  font-size: 16px;
  font-weight: 600;
}
.footer--images{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.footer--images > img{
  margin: 0px 10px 0px 10px;
}
  